:root {
  /* colors */
  --body-bg: #ffffff;
  --card-bg: #f2f2f2;
  --color-gray: #d1d1d1;
  --font-black: #333333;
  --font-semi-black: #4e5150;
  --font-orange: #f2994a;
  --btn-cta: #f2994a;
  --font-primary: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font-primary);
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
